.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image_container h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 900;
}